{% extends 'curriculum_ms/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock title %}


{% block content %}
<!-- slider_area_start -->
<div class="slider_area">
    <div class="single_slider  d-flex align-items-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-4">
                    <div class="slider_text">
                        <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">
                            Войти в учетную запись
                        </h5>
                        <div class="apply_job_form sign-in-form" style="width: 300px; margin-left: 50px;">
                            <form id="login" method="post">
                                {% csrf_token %}
                                <div class="single_input wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">
                                    <label class="required form-control-input" for="id_username">Логин:</label>
                                    <input type="text" class="form-control txt-green w-100" name="username" required id="id_username">
                                </div>
                                <div class="single_input wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
                                    <label class="required form-control-input" for="id_password">Пароль:</label>
                                    <input type="password" class="txt-green form-control w-100" name="password" required id="id_password">
                                </div>
                                <div class="submit_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                                    <button type="submit" class="boxed-btn3 btn-flare w-100" style="margin-top: 40px;">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i> Войти
                                    </button>
                                </div>
                                <div class="submit_btn wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".5s">
                                    <button class="boxed-btn3 btn-flare w-100" style="margin-top: 40px; background: rgba(255, 255, 255, 0.9); border: white">
                                    <a href="{% url 'social:begin' 'google-oauth2' %}" style="color: white" class="google-link">
                                        <i class="fa fa-google" aria-hidden="true" style="color: #4285F4;"></i>
                                        <span class="google-letter" style="transition:color 0.3s; color: #DB4437;">o</span>
                                        <span class="google-letter" style="transition:color 0.3s; color: #F4B400;">o</span>
                                        <span class="google-letter" style="transition:color 0.3s; color: #4285F4;">g</span>
                                        <span class="google-letter" style="transition:color 0.3s; color: #0F9D58;">l</span>
                                        <span class="google-letter" style="transition:color 0.3s; color: #DB4437;">e</span>
                                    </a>
                                </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
        <img src="{% static 'img/banner/illustration.png' %}" alt="">
    </div>
</div>
<!-- slider_area_end -->
    
<!-- JavaScript для управления цветом при наведении -->
<script>
    document.querySelector('.google-btn').addEventListener('mouseleave', function() {
        document.querySelectorAll('.google-letter').forEach(letter => {
            letter.style.color = 'white';
        });
    });
</script>
{% endblock content %}