{% load static %}

<!-- footer start -->
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-3"></div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="{% static 'img/logo.png' %}" alt="">
                            </a>
                        </div>
                        <p>
                            buqlex@gmail.com <br>
                            +7 (906) 542-97-77 <br>
                            Россия, город Ростов-на-Дону, <br>
                            проспект Солженицына, дом 24/23 
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-telegram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-github"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="footer_widget wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".6s">
                        <h3 class="footer_title">
                            Связаться с нами
                        </h3>
                        <form action="#" class="newsletter_form">
                            <input type="text" placeholder="Введите Вашу почту">
                            <button class="btn-link btn-flare" type="submit"><i class="fa fa-envelope" aria-hidden="true"></i> Получить отзыв</button>
                        </form>
                        <p class="newsletter_text">После того, как Вы введете адрес электронной почты, разработчик внимательно изучит письмо и свяжется с Вами в ближайшее время</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4"></div>
            </div>
        </div>
    </div>
    <div class="copy-right_text wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".3s">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        Авторское право &copy;<script>document.write(new Date().getFullYear());</script> Все права защищены</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ footer end  -->